* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	
}
header a{
    text-decoration: none;
    color: #f4f4f4; 
}
header nav a:hover{
	color: #f57f17;
}
header {
	background-color:#125784;
	display: flex;
    align-items: center;
	width: auto;
    height: 125px;
    font-family:  Montserrat;
}
header div{
	width: auto;
    height: 115px;
   
}
header nav menu li form{
    float: right;
}
header div img{
	width: auto;
	height: 117px;
    padding-left: 42px;
}
header div h1{
    color: #f4f4f4;
    font-size:23px;
}

header nav menu{
	list-style: none;
    display: flex;
    margin: 0px;
}

header nav menu li{
    color: white;
	padding: 0px 40px;
}
.content {
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.content h1 {
    font-size: 3em;
}
.img1 {
    background-image: url("/Img/img1.jpg")
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.content h1 {
    font-size: 3em;
}
h1 {
    font-size: 3em;
    margin: -31px;
}
.image-grid {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}
.text {
    background-color:  #f57f17;
    display: flex;
    align-items: center;
    margin-top: -180px;
}

.image-container {
    flex: 1;
    text-align: left;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.text-container {
    flex: 4;
    padding-left: 60px;
}
